node_modules/

# Cache crap that Valve autogenerates
*.bin
*.cfg

# Compiled formats
*.vpcf_c
*.vtex_c
*.vsndevts_c
*.vsnd_c
*.vmat_c
*.vjs_c
*.vxml_c
*.vcss_c

# Commit panorama compiled textures
!game/dota_addons/chess/panorama/images/**/*.vtex_c

# Map overviews
content/dota_addons/chess/materials/overviews/*.vmat
content/dota_addons/chess/materials/overviews/*.txt
game/dota_addons/chess/resource/overviews/*

#Github dump
*.stackdump
