.board-container {
    horizontal-align: middle;
    vertical-align: middle;
    flow-children: down;
}
.rank-board-container {
    flow-children: right;
}
#rank-container {
    flow-children: down;
}
#file-container {
    flow-children: right;
    margin-left: 30px;
}

.rank-label { 
    height: 86px;
    margin: 5px;
    width: 20px;
}
.AspectRatio4x3 .rank-label { 
    height: 64px;
    margin: 3px;
}
.file-label {
    width: 86px;
    margin: 5px;
}
.AspectRatio4x3 .file-label {
    width: 64px;
    margin: 3px;
}

.rank-label Label, .file-label Label {
    vertical-align: middle;
    horizontal-align: middle;
}

.board {
    flow-children: down;
}

.rank {
    flow-children: right;
}
.square {
    width: 86px;
    height: 86px;
    margin: 5px;
}
.AspectRatio4x3 .square {
    width: 64px;
    height: 64px;
    margin: 3px;
}

.square.white,
.square-wrapper.white {
    background-color: #f0d9b5;
}
.square.black,
.square-wrapper.black {
    background-color: #b58863;
}
.square.white.last-move,
.square-wrapper.white.last-move {
    background-color: #ced26b;
}
.square.black.last-move,
.square-wrapper.black.last-move {
    background-color: #aaa23b;
}
.square.selected,
.square-wrapper.selected {
    background-color: #83976a;
}
.square.move-dest,
.square-wrapper.move-dest {
    background-image: url("file://{images}/dot.png");
    background-position: center;
    background-repeat: no-repeat;
}
.square.white.potential_drop_target,
.square-wrapper.white.potential_drop_target {
    background-color: #FFF0D6;
}
.square.black.potential_drop_target,
.square-wrapper.black.potential_drop_target {
    background-color: #92653f;
}
.square-label {
    width: 100%;
    text-align: center;
    font-size: 64;
    vertical-align: top;
}
.AspectRatio4x3 .square-label {
    font-size: 48;
}

.square-label.white {
    color: white;
    text-shadow: 0px 0px 2px 3.0 black;
}
.square-label.black {
    color: black;
    text-shadow: 0px 0px 2px 1.0 #aaa;
}
.square:hover .square-label.white {
    color: white;
    text-shadow: 0px 0px 8px 6.0 green;
}
.square:hover .square-label.black {
    color: black;
    text-shadow: 0px 0px 8px 6.0 green;
}