.container {
    width: 1920px;
    height: 1080px;
    flow-children: down;
    /*background-color: gradient( linear, 0% 0%, 0% 100%, from( #588c46 ), to( #1f3b08 ) );*/
    /*opacity: .5;*/
    
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #588c46), to( #1f3b08));
}
.controls-container {
    flow-children: right-wrap;
    margin-left: 8px;
}
.inner-container {
    width: 100%;
    height: 1036px;
    flow-children: right;
}
.center-container {
    height: 1036px;
    width: 70%;
    flow-children: right;
}
.left-container {
    height: 1036px;
    width: 20%;
}
.right-container {
    height: 1036px;
    width: 20%;
    /*flow-children: down;*/
}
#chat-container {
    height: 1036px;
    padding-top: 8px;
}
.info-container {
    width: 100%;
    vertical-align: middle;
    flow-children: down;
}
#action-container {
    border-top: 1px solid #ccc;
    background-color: #eeeeee;
    width: 60%;
    height: 200px;
    flow-children: down;
}
#action-button-container {
    flow-children: right;
    horizontal-align: middle;
}
#history {
    width: 60%;
    height: 300px;
    flow-children: down;
    background-color: #eeeeee;
    overflow: squish scroll;
}
.history-move {
    width: 100%;
    flow-children: right;
    border-bottom: 1px solid #ccc;
    background-color: #eeeeee;
}
.history-move-num {
    color: #333;
    width: 20%;
    text-align: center;
    background-color: #e0e0e0;
    padding: 10px 0px 5px 0px;
}
.history-ply {
    color: #707070;
    width: 40%;
    font-weight: bold;
    padding: 10px 15px 5px 15px;
}
.history-ply.white {
    //border-right: 1px solid #888;
}
.history-ply.black {} .timer {
    background-color: #eeeeee;
    width: 60%;
    flow-children: right;
}
.timer.highlight {
    background-color: #fff077;
}
.timer.highlight Label {
    color: #444;
}
.timer Label {
    color: #707070;
    font-size: 40;
    font-weight: bold;
    text-align: center;
    width: 100%;
    vertical-align: middle;
}
.timer.white {
    border-top: 1px solid #ccc;
}
.timer.black {
    border-bottom: 1px solid #ccc;
}
.avatar {
    width: 64px;
    height: 64px;
}
.board {
    vertical-align: middle;
    flow-children: down;
    horizontal-align: middle;
    margin: 0px 100px 0px 100px;
}
.rank {
    flow-children: right;
}
.square {
    width: 86px;
    height: 86px;
    margin: 5px;
}
.square.white,
.square-wrapper.white {
    background-color: #f0d9b5;
}
.square.black,
.square-wrapper.black {
    background-color: #b58863;
}
.square.white.last-move,
.square-wrapper.white.last-move {
    background-color: #ced26b;
}
.square.black.last-move,
.square-wrapper.black.last-move {
    background-color: #aaa23b;
}
.square.selected,
.square-wrapper.selected {
    background-color: #83976a;
}
.square.move-dest,
.square-wrapper.move-dest {
    background-image: url("file://{images}/dot.png");
    background-position: center;
    background-repeat: no-repeat;
}
.square.white.potential_drop_target,
.square-wrapper.white.potential_drop_target {
    background-color: #FFF0D6;
}
.square.black.potential_drop_target,
.square-wrapper.black.potential_drop_target {
    background-color: #C14D33;
}
.square-label {
    width: 100%;
    text-align: center;
    font-size: 64;
    vertical-align: top;
}
.square-label.white {
    color: white;
    text-shadow: 0px 0px 2px 3.0 black;
}
.square-label.black {
    color: black;
    text-shadow: 0px 0px 2px 1.0 #aaa;
}
.square:hover .square-label.white {
    color: white;
    text-shadow: 0px 0px 8px 6.0 green;
}
.square:hover .square-label.black {
    color: black;
    text-shadow: 0px 0px 8px 6.0 green;
}
.btn {
    border-radius: 4px;
    border: 1px solid #aaa;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #eee), to( #ccc));
}
.btn:hover {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #fff), to( #ddd));
}
.btn:active {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #eee), to( #ccc));
    box-shadow: 0 1px 2px #aaa inset;
}
.btn Label {
    color: #848484;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFF;
    padding: 0 10px;
}
.action-btn {
    width: 36px;
    height: 36px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 70%;
    margin: 0 3px;
}
#resign-btn {
    background-image: url("file://{images}/white66.png");
}
#undo-btn {
    background-image: url("file://{images}/undo5.png");
}
#draw-btn {
    background-image: url("file://{images}/hand.png");
}
#DashboardButton:hover {
    opacity: 1;
}
#DashboardButton {
    background-image: url("s2r://panorama/images/control_icons/return_to_game_png.vtex");
    transform: scaleY(-1);
    tooltip-position: bottom;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 8px;
    margin-right: 8px;
    vertical-align: middle;
    horizontal-align: middle;
    background-position: center;
    opacity: 0.5;
    wash-color: #CDF;
    transition-property: opacity;
    transition-duration: 0.2s;
}