.action-message-container {
    width: 100%;
    flow-children: right;
    height: 70px;
    background-color: #d0d0d0;
    margin-bottom: 10px;
}
.action-message {
    width: 60%;
    white-space: normal;
    height: 60px;
    font-size: 24px;
    padding: 0px 10px;
    vertical-align: middle;
    height: 100%;
    line-height: 55px;
    text-align: center;
    color: #707070;
}
.action-message-buttons {
    width: 40%;
    flow-children: right;
    height: 80px;
    margin-right: 10px;
}
.action-message-buttons .btn {
    height: 100%;
}
.action-message-buttons .btn Label {
    font-size: 30px;
}
.btn-accept Label {
    color: green;
}
.btn-decline Label {
    color: #ce3030;
}
.btn-accept, .btn-decline {
    width: 50%;
    margin: 10px 0px;
    background-color: white;
}